.separator{
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
}

.separator .green100{
    border-bottom: 4px solid #64BA00;
}

.separator .purple{
    border-bottom: 4px solid #68629C;
}

.separator .yellow{
    border-bottom: 4px solid #FFD012;
}

.separator .green700{
    border-bottom: 4px solid #007E47;
}