.linkButton{
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 2.125rem;
    background: var(--green500);
    border-radius: 2rem;
    font: var(--display);
    color: var(--white);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);;
    transition: var(--transition-short);
}

.linkButton:hover{
    filter: brightness(0.8);
}

.font-bold{
    font-weight: 700;
}

.fontThin{
    font-weight: 400;
    font-size: .75rem;
}