.container{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.socialNetworks{
    display: flex;
    gap: 0.75rem;
}

.container hr{
    width: 100%;
    overflow: visible;
    border-color: var(--green700);
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 0.675rem;
    align-items: center;
    width: 100%;
}

.contacts > span {
    text-transform: uppercase;
}

.email{
    flex-direction: column;
    gap: .25rem;
}

.accordionContainer{
    border-top: 1px solid #435162;
}

.payment span{
    font: var(--nav-item);
    text-transform: uppercase;
    margin-bottom: .75rem;
    display: block;
}

.payment p{
    margin-bottom: .75rem;
    margin-top: 1rem;
}

.payment div{
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

.payment{
    padding-bottom: 1.675rem;
    border-bottom: 1px solid var(--green700);
}